{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 200,
  "endOfLine": "lf",
  "importOrder": ["react", "", "<THIRD_PARTY_MODULES>", "", "~/", "", "^[./]"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
